{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home/profile.css')}}">
    <div class="top clearfix">
        <div class="way">
            <a href="/nafsi-ana">&#x2B05;<br></a>
            <h2 style="float: left;">PROFILE</h2>  
        </div>
        <div class="way2">
            <i><a href="/">Home  </a>/<a href="#" class="here">  Profile</a></i>
        </div>
    </div>
    {% include '_messages.html' %}
    <div class="middle clearfix">
        {% from "_formhelpers.html" import render_field %}
        <form action=" " method="POST" enctype="multipart/form-data" role="form">
            <div class="midx">
                {{ render_field(form.oldPassword) }}
                <label class="checkbox-container"><p style="font-size: 12px;">Show Password</p>
                    <input type="checkbox" name="check" onclick="showPassword1()">
                    <span class="checkmark"></span>
                </label>
                {{ render_field(form.newPassword) }}
                <label class="checkbox-container"><p style="font-size: 12px;">Show Password</p>
                    <input type="checkbox" name="check" onclick="showPassword2()">
                    <span class="checkmark"></span>
                </label>
                {{ render_field(form.confirmNewPassword) }}
                <label class="checkbox-container"><p style="font-size: 12px;">Show Password</p>
                    <input type="checkbox" name="check" onclick="showPassword3()">
                    <span class="checkmark"></span>
                </label>
                <a><button type="submit" class="button" style="padding-top: 6px; padding-bottom: 6px;">Update Your Password</button></a>
                </form>
            </div>
        <style>
            .footer{
                margin: 0;
            }
        </style>
        <script src="{{url_for('static', filename = 'js/home/profile.js')}}"></script>
    </div>
{% endblock content %}