{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/website/ahusna.css')}}">
    <div class="head">
        <div class="way">
            <h1>Asmaul Husna</h1>
        </div>
        <div class="way way2">
            <i><a href="/">Home  </a>/<a>  Website Data  </a>/<a href="/ansuh-luamsa" class="here">  Asmaul Husna Data</a></i>
        </div> 
    </div> 
    <div class="section">
        <input type="text" id="myInput" onkeyup="search()" placeholder="Search..." title="Type in number">
        <table id="myTable">
            <tr>
                <th style="
                    width: 40px;
                    border-right: 1px solid #ddd;
                    border-left: 1px solid #00692D;
                ">#</th>
                <th style="
                    border-right: 1px solid #ddd;
                ">Arab</th>
                <th style="
                    border-right: 1px solid #ddd;
                ">Latin</th>
                <th style="
                    border-right: 1px solid #00692D;
                ">Meaning</th>
            </tr>
            {% for rs in datas %}
            <tr>
                <td style="text-align: center;">
                    <div class="id">
                        {{ rs.0 }}
                    </div>
                    <a onclick="document.getElementById('{{ rs.2 }}').style.display='block'" class="icon">
                        <img class="logo" src="https://api.iconify.design/material-symbols/edit.svg">
                    </a>
                </td>
                <td name="arab" style="text-align: right;">
                    {{ rs.1 }}
                </td>
                <td name="latin">
                    {{ rs.2 }}
                </td>
                <td name="meaning">
                    {{ rs.3 }}
                </td>
            </tr>
            <div id="{{ rs.2 }}" class="modal">
                <div class="modal-content animate" style="margin: 130px auto;inline-size: max-content;padding: 20px;height: 410px;width: 500px;">
                    {% if rs.0 == " " %}
                        <h2 class="title">UPDATE NUMBER 0</h2>  
                    {% else %}
                        <h2 class="title">UPDATE NUMBER {{ rs.0 }}</h2>  
                    {% endif %}
                    <span onclick="document.getElementById('{{ rs.2 }}').style.display='none'" class="close">&times;</span>
                    <div class="middle">
                        <form action=" " method="POST" enctype="multipart/form-data" role="form">
                            {% from "_formhelpers.html" import render_field %}
                            <div class="section sect2"> 
                                {{ render_field(form.id, value = rs.0) }}
                                {{ render_field(form.arab, value = rs.1) }}
                                {{ render_field(form.latin, value = rs.2) }}
                                {{ render_field(form.meaning, value = rs.3) }}
                                <button type="submit" class="button" style="padding-top: 6px; padding-bottom: 6px;">Update Data</a>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </table>        
    </div>
    <src="{{url_for('static', filename = 'js/ahusna.js')}}"></script>
{% endblock content %}